<%# CSSはusers/showと同じ %>

<%= render "shared/header"%>

<div class="user-wrapper">
  
  <div class="breadcrumb-area">
    <% breadcrumb :favorite, @user %>
    <%= breadcrumbs separator: " &rsaquo; " %>
  </div>

  <%= render "shared/user_info"%>

  <div class="user-article">
    <div class="clearfix">
      <% @favorite_books.map do |favorite_book| %>
        <%= link_to book_path(favorite_book.id), class:"article-box" do %>
          <%= image_tag(favorite_book.book_image, class:"book-image") %>
          <h3 class="title"><%= favorite_book.title %></h3>
          <p class="author"><%= favorite_book.author %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>