<%# CSSはusers/showと同じ %>

<%= render "shared/header"%>

<div class="user-wrapper">
  <div class="user-main clearfix">
    <% if @user.user_image.blank? %>
      <img class="user-image" src="/assets/noimage.png">
    <% else %>
      <%= image_tag(@user.user_image.to_s, class:"user-image") %>
    <% end %>
    <div class="user-info">
      <p class="user-name">
        <%= @user.user_name %>
      </p>
      <ul class="info-list">
        <li class="item">投稿数：<%= @post_count %>件<li>
        <li class="item">フォロー：<%= @following_count %><li>
        <li class="item">フォロワー：<%= @followed_count %><li>
      </ul>
      <p>ユーザーのコメント</p>
    </div>
  </div>
  <%# -- CSS users/edit -- %>
  
  <div class="edit-area">
    
    <h2 class="edit-header">ユーザー情報の編集</h2>
    
    <%= form_with model: @user, local: true do |f| %>
      
      <div class="edit-image">
        <%= f.label :user_image, "画像" %><br/>
        <%= f.file_field :user_image %>
      </div>

      <div class="edit-info">
        <div class="field">
          <%= f.label :user_name, "ユーザー名" %><span class="must-icon">*</span><br/>
          <%= f.text_field :user_name, class:"input-box"%>
        </div>

        <div class="field">
          <%= f.label :user_comment, "コメント" %><br/>
          <%= f.text_area :user_comment, class:"input-box"%>
        </div>

        <div class="field">
          <%= f.label :email, "メールアドレス" %><span class="must-icon">*</span><br/>
          <%= f.text_field :email, class:"input-box"%>
        </div>

        <div class="field">
          <%= f.label :password, "パスワード" %><br/>
          <%= f.text_field :password, class:"input-box"%>
        </div>

        <div>
        <%= f.submit "保存する" %>
        </div>
      </div>
    <% end %>
  </div>
  

  <%# -- %>

  <%= link_to user_path(@user) do%>
    <div class="post-btn">
      <i class="fas fa-undo post-btn-icon"></i>
      <span class="post-btn-text">キャンセル</span>
    </div>
  <% end %>
</div>