<%# CSSはusers/showと同じ %>

<%= render "shared/header"%>

<div class="user-wrapper">

  <div class="breadcrumb-area">
    <% breadcrumb :following, @user %>
    <%= breadcrumbs separator: " &rsaquo; " %>
  </div>
  
  <%= render "shared/user_info" %>
  
  <%# -- CSSはshared/follow -- %>
  <div class="follow-area">
    <h4>フォロー中のユーザー</h4>
    <% @following_users.map do |following_user| %>
      <div class="follow-user">
        <%= link_to user_path(following_user) do %>
          <% if following_user.user_image.blank? %>
            <img class="user-image" src="/assets/noimage.png">
          <% else %>
            <%= image_tag(following_user.user_image.to_s, class:"user-image") %>
          <% end %>
        <% end %>
        <div class="user-info">
          <div class="user-name">
            <%= following_user.user_name %>
          </div>
          <div>
            <%= following_user.user_comment %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%# -- %>
</div>