<%# CSSはusers/showと同じ %>

<%= render "shared/header"%>

<div class="user-wrapper">
  
  <%= render "shared/user_info" %>

  <%# -- CSSはshared/follow -- %>
  <div class="follow-area">
    <h4>フォローされているユーザー</h4>
    <% @followed_users.map do |followed_user| %>
      <div class="follow-user">
        <%= link_to user_path(followed_user) do %>
          <% if followed_user.user_image.blank? %>
            <img class="user-image" src="/assets/noimage.png">
          <% else %>
            <%= image_tag(followed_user.user_image.to_s, class:"user-image") %>
          <% end %>
        <% end %>
        <div class="user-info">
          <div class="user-name">
            <%= followed_user.user_name %>
          </div>
          <div>
            <%= followed_user.user_comment %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%# -- %>
</div>