<%= render "shared/header"%>

<div class="user-wrapper">
  
  <%= render "shared/user_info" %>

  <div class="user-article">
    <div class="clearfix">
      <% @user_books.map do |user_book| %>
        <%= link_to book_path(user_book.id), class:"article-box" do %>
          <%= image_tag(user_book.book_image, class:"book-image") %>
          <h3 class="title"><%= user_book.title %></h3>
          <p class="author">著者：<%= user_book.author %></p>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <% if user_signed_in? && @user.id === current_user.id %>
    <%= link_to new_book_path do%>
      <div class="post-btn">
        <i class="fas fa-pencil-alt post-btn-icon"></i>
        <span class="post-btn-text">投稿する</span>
      </div>
    <% end %>
  <% end %>
  
</div>