<header class="header">
  <div class="header-logo">
    <%= link_to root_path do %>
      <h2 class=header-title>Honstagram</h2>
    <% end %>
  </div>
  <div class="header-search">
    <%= search_form_for @q, url: search_book_books_path, class: "search_container" do |f| %>
      <%= f.search_field :title_or_author_cont, class:"search-field", id:"search-field", placeholder:"本 / 著者で検索する" %>
      <%= f.button type:"submit" do %><i class="fas fa-search"></i><% end %>
    <% end %>
    
  </div>
  <div class="header-right">
    <% if user_signed_in? %>
      <ul class="header-list">
        <li class="header-icon">
          <%= link_to user_path(current_user.id) do %>
            <i class="far fa-user"></i>
          <% end %>
        </li>
        <li class="header-icon">
          <%= link_to books_path do %>
            <span class="compass"><i class="far fa-compass"></i></span>
          <% end %>
        </li>
        <li class="header-icon">
          <%= link_to user_favorites_path(current_user.id) do %>
            <span class="heart"><i class="far fa-heart"></i></span>
          <% end %>
        </li>
        <li class="header-icon">
          <i class="fas fa-ellipsis-h" id="dots-icon"></i>
        </li>
      </ul>
      <ul class="dots-list hidden" id="dots-list">
        <li class="dots-list-item"><%= link_to "ダッシュボード", dashboard_user_path(current_user.id) %></li>
        <li class="dots-list-item"><%= link_to "投稿する", new_book_path %></li>
        <li class="dots-list-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %><li>
      </ul>
    <% else %>
      <ul class="header-list">
        <li><%= link_to "新規登録/ログイン", new_user_session_path %></li>
      </ul>
    <% end %>
  </div>
</header>