<% if score == nil %>
  <span class="star_rating" data-rate="0"></span>
  <span class="none-text">評価はありません<span>
<% elsif score < 1.5 %>
  <span class="star_rating" data-rate="1"></span>
  <%= score %>
<% elsif score < 2 %>
  <span class="star_rating" data-rate="1.5"></span>
  <%= score %>
<% elsif score < 2.5 %>
  <span class="star_rating" data-rate="2"></span>
  <%= score %>
<% elsif score < 3 %>
  <span class="star_rating" data-rate="2.5"></span>
  <%= score %>
<% elsif score < 3.5 %>
  <span class="star_rating" data-rate="3"></span>
  <%= score %>
<% elsif score < 4 %>
  <span class="star_rating" data-rate="3.5"></span>
  <%= score %>
<% elsif score < 4.5 %>
  <span class="star_rating" data-rate="4"></span>
  <%= score %>
<% elsif score < 5 %>
  <span class="star_rating" data-rate="4.5"></span>
  <%= score %>
<% elsif score == 5 %>
  <span class="star_rating" data-rate="5"></span>
  <%= score %>
<% end %>
