<div class="user-main clearfix">
  <% if @user.user_image.blank? %>
    <%= image_tag "/assets/noimage.png", class:"user-image" %>
  <% else %>
    <%= image_tag(@user.user_image.to_s, class:"user-image") %>
  <% end %>
  <div class="user-info">
    <ul class="user-name">
      <li><%= @user.user_name %></li>
      <% if user_signed_in? && current_user.id == @user.id %>
        <li class="edit-btn">
          <%= link_to edit_user_path(@user.id) do %>
            <i class="fas fa-cog"></i>
          <% end %>
        </li>
      <% end %>
      <% if user_signed_in? && current_user.id != @user.id %>
        <li><%= render "shared/follow_button" %><li>
      <% end %>
    </ul>
    <ul class="info-list">
      <li>投稿数：<%= @post_count %>件<li>
      <%= link_to following_user_user_path(@user.id) do %>
        <li class="item">フォロー：<%= @following_count %><li>
      <% end %>
      <%= link_to followed_user_user_path(@user.id) do %>
        <li class="item">フォロワー：<%= @followed_count %><li>
      <% end %>
    </ul>
    <p><%= @user.user_comment %></p>
  </div>
</div>