<%# CSSはbooks/newと同じ %>

<%= render "shared/header"%>

<div class="post-wrapper">
  <%= form_with model: @book, local: true do |f| %>
    
    <div class="post-top-area clearfix">
      <div class="image-area">
        <div id="preview-space">
          <%= image_tag(@book.book_image, class:"preview-image") %>
        </div>

        <div class="image-field" id="book_image">
          <%= f.label :book_image, "画像" %><span class="must-icon">*</span><br/>
          <%= f.file_field :book_image %>
        </div>
      </div>

      <div class="info-area">
        <div class="field">
          <%= f.label :title, "タイトル" %><span class="must-icon">*</span><br/>
          <%= f.text_field :title, class:"input-box"%>
        </div>

        <div class="field">
          <%= f.label :author, "著者" %><span class="must-icon">*</span><br/>
          <%= f.text_field :author, class:"input-box"%>
        </div>

        <div class="field">
          <%= f.label :publisher, "出版社" %><br/>
          <%= f.text_field :publisher, class:"input-box"%>
        </div>

        <div class="field">
          <%= f.label :genre_id, "ジャンル" %><span class="must-icon">*</span><br/>
          <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, class:"input-box") %>
        </div>

        <div class="field", id='tag-field'>
          <%= f.label :tag_name, "#タグ" %><br/>
          <%= f.text_field :tag_name, class:"input-box"%>
        </div>
      </div>
    </div>

    <div class="post-bottom-area">
      <div class="field text-area">
        <%= f.label :description %><span class="must-icon">*</span><br/>
        <%= f.text_area :description, class:"text-area" %>
      </div>
    

      <div>
        <%= f.submit "投稿する" %>
      </div>
    </div>
  <% end %>
  
  <%= link_to book_path(@book) do%>
    <div class="post-btn">
      <i class="fas fa-undo post-btn-icon"></i>
      <span class="post-btn-text">キャンセル</span>
    </div>
  <% end %>
</div>