<%= render "shared/header"%>

<div class="index-wrapper">
  <div class="clearfix">
    <h2>全ての投稿 <%= @books_count %>件</h2>

    <% @books.map do |book| %>
      <%= link_to book_path(book.id), class:"article-box" do %>
        <%= image_tag(book.book_image, class:"book-image") %>
        <h3 class="title"><%= book.title %></h3>
        <p class="author">著者：<%= book.author %></p>
      <% end %>
    <% end %>
  </div>
</div>


