<%= render "shared/header"%>

<div class="index-wrapper">
  <div class="clearfix">
    <div>
      <h3 class="index-header">全ての投稿 <%= @books_count %>件</h3>
    </div>
   
    <% @books.map do |book| %>
      <%= link_to book_path(book.id), class:"article-box" do %>
        <%= image_tag(book.book_image, class:"book-image") %>
        <h3 class="title"><%= book.title %></h3>
        <p class="author">著者：<%= book.author %></p>
      <% end %>
    <% end %>
  </div>

  <%= paginate @books %>

</div>


