<h2>本の投稿ページ</h2>

<%= form_with model: @book, local: true do |f| %>
  <div class="field" id="book_image">
    <%= f.label :book_image %><br/>
    <%= f.file_field :book_image %>
  </div>

  <div id="preview-space"></div>

  <div class="field">
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :author %><br/>
    <%= f.text_field :author %>
  </div>

  <div class="field">
    <%= f.label :publisher %><br/>
    <%= f.text_field :publisher %>
  </div>

  <div class="field">
    <%= f.label :description %><br/>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :score %><br/>
    <%= f.text_field :score %>
  </div>

  <div class="field">
    <%= f.label :genre_id %><br/>
    <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}) %>
  </div>

  <div>
    <%= f.submit "投稿する" %>
  </div>
<% end %>