<%= render "shared/header"%>

<div class="index-wrapper">
  <div class="clearfix">
    <h2><%= "「#{params[:q][:title_or_author_cont]}」の検索結果 #{@results_count}件" %></h2>
    
    <% @results.map do |book| %>
      <%= link_to book_path(book.id), class:"article-box" do %>
        <%= image_tag(book.book_image, class:"book-image") %>
        <h3 class="title"><%= book.title %></h3>
        <p class="author"><%= book.author %></p>
      <% end %>
    <% end %>
  </div>
</div>