<%= render "shared/header"%>

<div class="book-wrapper clearfix">

  <div class="breadcrumb-area">
    <% breadcrumb :book, @book %>
    <%= breadcrumbs separator: " &rsaquo; " %>
  </div>

  <main class="book-main">
    <section class="book-header clearfix">
      <%= image_tag(@book.book_image, class:"book-image") %>
      <ul class="book-info">
        <li class="item">
          <%= @book.title %>
          <% if user_signed_in? && current_user.id == @book.user_id %>
            <%= link_to edit_book_path(@book.id) do %>
              <i class="fas fa-cog"></i>          
            <% end %>
          <% end %>
        </li>
        <li class="item">著者：<%= @book.author %></li>
        <li class="item">出版社：<%= @book.publisher %></li>
        <li class="item">投稿日：<%= @book.created_at.strftime('%Y/%m/%d') %></li>
        <li class="item">ジャンル：<%= @book.genre.name %></li>
        <li class="item">#タグ：
          <% @tag.map do |tag| %>
            <%= tag.tag_name %>
          <% end %>
        </li>
        <li class="item score-box">
          <%= render "shared/stars", score: @score_average %>
        </li>
        <li class="item back-link"><%= link_to "もどる", book_path(@book) %></li>
      </ul>
    </section>
    <section class="book-description">
      <h3 class="description-header">投稿者のコメント</h3>
      <p><%= @book.description %></p>
      <div class="book-user">
        <%= link_to user_path(@user) do %>
          <% if @user.user_image.blank? %>
            <%= image_tag asset_path("noimage.png"), class:"user-image" %>
          <% else %>
            <%= image_tag(@user.user_image.to_s, class:"user-image") %>
          <% end %>  
          <div class="user-info">
            <p class="user-name">投稿者：<%= @user.user_name %></p>
            <%= @user.user_comment %>
          <div>
        <% end %>
      </div>
    </section>
  </main>
  <div class="review-side-menu">
    <h3 class="review-header">レビュー</h3>
    <% @reviews.map do |review| %>
      <div class="review-item">
        <%= link_to user_path(review.user.id) do %>
          <% if review.user.user_image.blank? %>
            <%= image_tag asset_path("noimage.png"), class:"user-image" %>
          <% else %>
            <%= image_tag(review.user.user_image.to_s, class:"user-image") %>
          <% end %>
        <% end %>
        <div class="review-info">
          <div class="">
            <%= render "shared/stars", score: review.review_score %>
          </div>
          <p><%= review.user.user_name %></p>
          <div>
            <%= review.review_comment %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% if user_signed_in? && @user.id != current_user.id %>
    <div class="post-btn" id="review-post-btn">
      <i class="fas fa-pencil-alt post-btn-icon"></i>
      <span class="post-btn-text">レビューをする</span>
    </div>
  <% end %>

  <div class="review-post-area hidden" id="review-post-area">
    <%= form_with model: [@book, @review], local: true do |f| %>

      <div class="review-field">
        <%= f.text_field :review_comment, class:"text-area", placeholder:"レビューを記入" %>
      </div>

      <div class="review-bottom-area">
        <div id="star">
          <%= f.hidden_field :review_score %>
        </div>

        <script>
          $('#star').raty({
            size     : 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',

            scoreName: 'review[review_score]',
            half: false,
          });
        </script>

        <%= f.submit "投稿する" %>
      </div>
    <% end %>
  </div>
</div>