<%= render "shared/header"%>

<div class="book-wrapper clearfix">

  <div class="breadcrumb-area">
    <% breadcrumb :book, @book %>
    <%= breadcrumbs separator: " &rsaquo; " %>
  </div>

  <main class="book-main">
    <section class="book-header clearfix">
      <%= image_tag(@book.book_image, class:"book-image") %>
      <div class="book-info">
        <p>
          <%= @book.title %>
          <%= link_to edit_book_path(@book.id) do %>
            <i class="fas fa-cog"></i>          
          <% end %>
        </p>
        <p>著者：<%= @book.author %></p>
        <p>出版社：<%= @book.publisher %></p>
        <p>投稿日：2020/12/13</p>
        <p>ジャンル：文芸・小説</p>
        <p>#タグ：
          <% @tag.map do |tag| %>
            <%= tag.tag_name %>
          <% end %>
        </p>
        <%= render "shared/stars", score: @score_average %>
      </div>
    </section>
    <section class="book-description">
      <h2>Description</h2>
      <p>サンプルでの入力</p>
      <div class="book-user">
        <%= link_to user_path(@user) do %>
          <% if @user.user_image.blank? %>
            <img class="user-image" src="/assets/noimage.png">
          <% else %>
            <%= image_tag(@user.user_image.to_s, class:"user-image") %>
          <% end %>  
          <div class="user-info">
            <p class="user-name">投稿者：<%= @user.user_name %></p>
            <%= @user.user_comment %>
          <div>
        <% end %>
      </div>
    </section>
  </main>
  <div class="review-side-menu">
    <h2>レビュー</h2>
    <% @reviews.map do |review| %>
      <div class="review-item">
        <%= link_to user_path(review.user.id) do %>
          <% if review.user.user_image.blank? %>
            <img class="user-image" src="/assets/noimage.png">
          <% else %>
            <%= image_tag(review.user.user_image.to_s, class:"user-image") %>
          <% end %>
        <% end %>
        <div class="review-info">
          <div class="">
            <%= render "shared/stars", score: review.review_score %>
          </div>
          <div>
            <%= review.review_comment %>
          </div>
        </div>
      </div>
    <% end %>
  <div>
  <% if user_signed_in? && @user.id != current_user.id %>
    <%= link_to new_book_review_path(@book.id) do%>
      <div class="post-btn">
        <i class="fas fa-pencil-alt post-btn-icon"></i>
        <span class="post-btn-text">レビューをする</span>
      </div>
    <% end %>
  <% end %>