<%= render "shared/header"%>

<h2>レビュー投稿ページ</h2>

<%= form_with model: [@book, @review], local: true do |f| %>
  <div class="field">
    <%= f.label :review_comment %><br/>
    <%= f.text_field :review_comment %>
  </div>

  <div class="field">
    <%= f.label :review_score %><br/>
    <%= f.text_field :review_score %>
  </div>

  <div>
    <%= f.submit "投稿する" %>
  </div>
<% end %>